body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

/* Typography Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.main-content {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Navigation styling */
nav a,
nav .nav-link {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Footer styling */
.footer {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/* Dropdown Menu Styling */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Testare Penetrare Cards */
.card {
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.icon-wrapper {
  margin: 0 auto;
}
