 <footer class="footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-phone me-2"></i>+40 123 456 789</li>
                    <li><i class="fas fa-envelope me-2"></i>contact@cybershield.md</li>
                    <li><i class="fas fa-map-marker-alt me-2"></i>Chișinău, Moldova</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Link-uri Rapide</h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Acasă</a></li>
                    <li><a href="/despre" class="text-white text-decoration-none">Despre Noi</a></li>
                    <li><a href="/servicii" class="text-white text-decoration-none">Servicii</a></li>
                    <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Urmăriți-ne</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-facebook me-2"></i>Facebook</a></li>
                    <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
                    <li><a href="#" class="text-white text-decoration-none"><i class="fab fa-twitter me-2"></i>Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> 
