<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Cyber<span class="brand-shield">Shield</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Acas&#259;</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/despre">Despre Noi</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicii
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
                        <li><a class="dropdown-item" href="/servicii/consultanta">Consultanta</a></li>
                        <li><a class="dropdown-item" href="/servicii/testarea-penetrarii">Testarea penetrarii</a></li>
                        <li><a class="dropdown-item" href="/servicii/inginerie-sociala">Inginerie sociala</a></li>
                        <li><a class="dropdown-item" href="/servicii/conformitate-gdpr">Conformitate cu GDPR</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/servicii">Toate serviciile</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
